@keyframes anim {
  0% { background-position: 0 0; }
  100% { background-position: 50px 50px; }
}

.loading {
  display: block;
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 200;
  pointer-events: none;

  &:not(.simple) {
    background-color: rgba(255, 255, 255, 0.9);
  }

  &.black {
    text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.6);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
  }

  will-change: opacity;
  transition-property: opacity;
  transition-duration: 0.2s;

  .loading-bar {
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 0.5rem;
    background-size: 100px 100px;
    background-image: linear-gradient(-45deg, #33c9ff 25%, #00b2f2 25%, #00b2f2 50%, #33c9ff 50%, #33c9ff 75%, #00b2f2 75%);
    animation: anim 1s linear infinite;
    content: "";
    .align-center;
    font-size: 1.2rem;
    margin: 0px auto;
    margin-bottom: 1rem;

    transform: translateY(-0.5rem);

    will-change: transform;
    transition-property: transform;
    transition-duration: 0.2s;
  }

  .loading-container {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    margin-bottom: 2rem;
    transform: scale(0.5, 0.5);

    will-change: transform;
    transition-property: transform;
    transition-duration: 0.2s;
  }

  .loading-container-label {
    .align-center;

    font-size: 1.2rem;

    margin: 0px auto;
    transform: scale(0.5, 0.5);

    will-change: transform;
    transition-property: transform;
    transition-duration: 0.2s;

    &.center {
      font-size: 2rem;
      width: 100%;
      height: 3rem;
      position: absolute;
      top: calc(50% - 1.5rem);
    }
  }

  &.show {
    z-index: 200;
    opacity: 1;

    .loading-container {
      transform: scale(1.0, 1.0);
    }

    .loading-container-label {
      transform: scale(1.0, 1.0);
    }

    .loading-bar {
      transform: translateY(0);
    }
  }

  &:not(.simple).show {
    pointer-events: all;
  }

  .circle-1 {
    display: inline-block;
    .align-center;
    padding: 10px;
    height: 120px;
    width: 120px;
    background: #612e8d;

    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.6);
  }

  .circle-2 {
    display: inline-block;
    .align-center;
    height: 100px;
    width: 100px;
    background: #c22286;
  }

  .circle-3 {
    display: inline-block;
    .align-center;
    height: 80px;
    width: 80px;
    background: #ea225e;
  }

  .circle-4 {
    display: inline-block;
    .align-center;
    height: 60px;
    width: 60px;
    background: #ed5b35;
  }

  .circle-5 {
    display: inline-block;
    .align-center;
    height: 40px;
    width: 40px;
    background: #f5b52e;
  }

  .circle-6 {
    display: inline-block;
    .align-center;
    height: 20px;
    width: 20px;
    background: #81c540;
  }

  .circle-7 {
    display: inline-block;
    .align-center;
    height: 10px;
    width: 10px;
    background: #00a396;
    margin-top: -10px;
  }

  .circle-8 {
    display: inline-block;
    .align-center;
    height: 5px;
    width: 5px;
    background: #1674bc;
    margin-top: -15px;
  }

  .circle-1,
  .circle-2,
  .circle-3,
  .circle-4,
  .circle-5,
  .circle-6,
  .circle-7,
  .circle-8 {
    border-bottom: none;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
