.modal {
  position: absolute;
  display: inline-block;
  z-index: 104;
  min-width: 20rem;
  max-width: 92%;
  top: 3rem;

  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid @divider-color;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.fullback {
  clear: both;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.65);
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  transition: all 0.2s;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.fullback-window {
  clear: both;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.65);
  z-index: 50;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  transition: all 0.2s;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.z-index-200 {
  z-index: 200 !important;
}

.z-index-101 {
  position: relative;
  z-index: 101;

  * {
    z-index: 101;
  }
}

@divider-color: #ddd;

@mobile: 600px;
@tablet: 1000px;
@pc: 1600px;
@ultra: 2000px;

.popup {
  background: #fff;
  position: absolute;
  border-radius: 0.25rem;
  border: 1px solid @divider-color;
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  // min-width: 18rem;
  // max-width: 40rem;
  display: inline-block;

  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.07);
  z-index: 102;

  @media screen and (max-width: @mobile) {
    width: 300px;
    max-width: 300px;
  }
  @media screen and (min-width: @mobile) and (max-width: @tablet) {
    width: 400px;
    max-width: 400px;
  }
  @media screen and (min-width: @tablet) and (max-width: @pc) {
    width: 400px;
    max-width: 400px;
  }
  @media screen and (min-width: @pc) and (max-width: @ultra) {
    width: 400px;
    max-width: 400px;
  }
  @media screen and (min-width: @ultra) {
    width: 400px;
    max-width: 400px;
  }
}

.popup.right:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 9px solid @divider-color;
  position: absolute;
  top: 50%;
  margin-top: -9px;
  left: -9px;
}

.popup.right:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #fff;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: -8px;
}

.popup.right-bottom:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 9px solid @divider-color;
  position: absolute;
  top: 11px;
  left: -9px;
}

.popup.right-bottom:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #fff;
  position: absolute;
  top: 12px;
  left: -8px;
}

.popup.right-top:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 9px solid @divider-color;
  position: absolute;
  bottom: 11px;
  left: -9px;
}

.popup.right-top:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #fff;
  position: absolute;
  bottom: 12px;
  left: -8px;
}

.popup.left:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 9px solid @divider-color;
  position: absolute;
  top: 50%;
  margin-top: -9px;
  right: -9px;
}

.popup.left:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #fff;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: -8px;
}

.popup.left-bottom:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 9px solid @divider-color;
  position: absolute;
  top: 11px;
  right: -9px;
}

.popup.left-bottom:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #fff;
  position: absolute;
  top: 12px;
  right: -8px;
}

.popup.left-top:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 9px solid @divider-color;
  position: absolute;
  bottom: 11px;
  right: -9px;
}

.popup.left-top:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #fff;
  position: absolute;
  bottom: 12px;
  right: -8px;
}

.popup.bottom:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid @divider-color;
  position: absolute;
  top: -9px;
  margin-left: -9px;
  left: 50%;
}

.popup.bottom:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  position: absolute;
  top: -8px;
  margin-left: -8px;
  left: 50%;
}

.popup.bottom-left:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid @divider-color;
  position: absolute;
  top: -9px;
  right: 13px;
}

.popup.bottom-left:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  position: absolute;
  top: -8px;
  right: 14px;
}

.popup.bottom-right:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid @divider-color;
  position: absolute;
  top: -9px;
  left: 11px;
}

.popup.bottom-right:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  position: absolute;
  top: -8px;
  left: 12px;
}

.popup.top:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid @divider-color;
  position: absolute;
  bottom: -9px;
  margin-left: -9px;
  left: 50%;
}

.popup.top:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
  position: absolute;
  bottom: -8px;
  margin-left: -8px;
  left: 50%;
}

.popup.top-left:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid @divider-color;
  position: absolute;
  bottom: -9px;
  right: 13px;
}

.popup.top-left:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
  position: absolute;
  bottom: -8px;
  right: 14px;
}

.popup.top-right:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid @divider-color;
  position: absolute;
  bottom: -9px;
  left: 11px;
}

.popup.top-right:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
  position: absolute;
  bottom: -8px;
  left: 12px;
}
