@import "normalize.less";
@import "font.less";
@import "font-awesome.css";
@import "padding.css";
@import "transition.less";
@import "popup.less";
@import "loading.less";

@border-color: #ddd;
@white-color: #fff;
@lighter-color: #f6f6f6;
@darker-color: #e3e3e3;
@shadow-color: #eee;
@disabled-color: #f6f6f6;
@active-color: #369aff;

@font-color: #333;
@font-color-link: #006FDE;
@font-color-inverted: #fff;
@font-color-disabled: #666;

body {
  font-family: "NeoSansProRegular";
  font-size: 1rem;
  line-height: 1.4rem;
  color: @font-color;
}

* {
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: 0;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.pointer {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.transition {
  transition-property: background-color, color;
  transition-duration: 0.2s;
  will-change: background-color, color;
}

#view-server {
  display: inline-block;
  // position: relative;
}

#props {
  display: none;
}

p {
  margin: 0;

  &:not(:first-child) {
    margin-top: 1rem;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  p + & {
    margin-top: 0;
  }
}

a, .a {
  .unselectable;
  display: inline-block;
  cursor: pointer;
  color: @font-color-link;

  transition-property: opacity, background-color, box-shadow;
  transition-duration: 0.2s;
  will-change: opacity, background-color, box-shadow;

  &:hover, &:hover, &:focus  {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);
    text-underline-position: 2px;
    text-decoration: underline;
  }

  &:active, &.active  {
    background-color: rgba(0, 0, 0, 0.01);
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.02);
    opacity: 0.5;
  }
}

.container {
  position: relative;

  &.block {
    display: block;
  }

  width: 100%;

  &.p90 {
    width: 90%;
  }

  &.p95 {
    width: 95%;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.top-menu {
  margin-top: 1rem;

  border-spacing: 1rem 0;

  .items-desktop, .items-mobile {
    display: table-cell;
    width: auto;
    white-space: nowrap;
  }

  * {
    .unselectable;
  }

  .item, .header {
    display: table-cell;
    width: auto;
    white-space: nowrap;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    .fa {
      margin-right: 0.3rem;
      font-size: 1rem;
      line-height: 1.4rem;
      vertical-align: baseline;
    }
  }

  .space {
    display: table-cell;
    width: 100%;
  }

  .header {
    cursor: default;

    font-size: 1.2rem;
    padding-right: 1.4rem;
    line-height: 1.4rem;
  }

  .item {
    cursor: pointer;
    border-radius: 0.6rem;

    .transition;
  }

  .item:hover, .item:hover, .item:focus  {
    background-color: @shadow-color;
  }

  .item:active, .item.active  {
    background-color: @active-color;
    color: @font-color-inverted;
    // transform: translateY(1.5px);
  }

  .items-mobile {
    display: none;
  }

  @media screen and (max-width: 50rem) {
    width: calc(100%);

    .items-desktop {
      display: none;
    }

    .items-mobile {
      display: table-cell;
    }
  }
}

.popup-menu {
  .item {
    cursor: pointer;

    .transition;

    display: block;
    width: 100%;
    white-space: nowrap;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    .fa {
      margin-right: 0.3rem;
      font-size: 1rem;
      line-height: 1.4rem;
      vertical-align: baseline;
    }
  }

  .item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  .item:last-child {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  .item:hover, .item:hover, .item:focus  {
    background-color: @shadow-color;
  }

  .item:active, .item.active  {
    background-color: @active-color;
    color: @font-color-inverted;
    // transform: translateY(1.5px);
  }
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 8rem;
}

.table {
  display: table;
  width: 100%;
  // overflow-x: auto;
  // overflow-y: visible;
  // padding-left: 1rem;
  // padding-right: 1rem;

  tr, td {
    .transition;
  }

  thead {
    td:not(:first-child) {
      background-color: @shadow-color;
      border: 1px solid @border-color;
    }

    td.pointer:not(:first-child):hover, td.pointer:not(:first-child):focus {
      background-color: @border-color;
    }

    td.pointer:not(:first-child):active, td.pointer:not(:first-child).active {
      background-color: @active-color;
      color: @font-color-inverted;
    }

    td {
      white-space: nowrap;

      .fa {
        font-size: 1rem;
        line-height: 1rem;

        float: right;
      }
    }

    // td:first-child {
    //   border-top-left-radius: 0.3rem;
    // }
    //
    // td:last-child {
    //   border-top-right-radius: 0.3rem;
    // }
  }

  tbody {
    // position: relative;

    tr:nth-child(2n) {
      background-color: @lighter-color;
    }

    tr:nth-child(2n+1) {
      background-color: @white-color;
    }

    tr:hover, tr:focus {
      background-color: @shadow-color;
    }

    td {
      border: 1px solid @border-color;
    }

    // tr:last-child {
    //   td:first-child {
    //     border-bottom-left-radius: 0.3rem;
    //   }
    //
    //   td:last-child {
    //     border-bottom-right-radius: 0.3rem;
    //   }
    // }
  }

  td {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    font-size: 1rem;
    line-height: 1rem;

    * {
      vertical-align: middle;
    }
  }

  td.width-1 {
    width: 1px;
  }

  td.type-1 {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;

    font-size: 1rem;
    line-height: 1rem;
  }
}

.accord-header {
  .unselectable;

  .transition;

  .fa {
    margin-right: 0.4rem;
    margin-left: 0.4rem;
  }

  &:hover, &:focus {
    background-color: @shadow-color;
  }

  &:active, &.active {
    background-color: @active-color;
    color: @font-color-inverted;
  }
}

.box {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
}

input[type=text], input[type=password], input[type=email] {
  width: auto;
  min-width: 15rem;

  font-size: 0.8rem;
  line-height: 0.8rem;

  .box;

  outline: none;

  border: 1px solid @border-color;
  border-radius: 0.2rem;

  transition-property: box-shadow, border;
  transition-duration: 0.3s;
  will-change: box-shadow, border;

  &:focus {
    box-shadow: 0 0 1rem @active-color;
    border: 1px solid @active-color;
  }
}

.buttons {
  white-space: nowrap;

  .unselectable;

  & > * {
    display: inline-block;

    .box;

    border: 1px solid @border-color;

    .transition;
  }

  & > *:last-child {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }

  & > *:first-child {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }

  & > *:not(:last-child) {
    border-right: 0px solid @border-color;
  }

  & > *:not(.disabled) {
    cursor: pointer;
  }

  & > *:not(.disabled):hover, & > *:not(.disabled):focus {
    background-color: @border-color;
  }

  & > *:not(.disabled):active, & > *:not(.disabled).active {
    border-color: @active-color;
    background-color: @active-color;
    color: @font-color-inverted;
  }

  & > *:not(.disabled):active + *, & > *:not(.disabled).active + * {
    border-left-color: @active-color;
  }

  & > *.disabled {
    background-color: @shadow-color;
    color: inherit;
  }

  & > *.disabled:not(.active) {
    background-color: @disabled-color;
    color: @font-color-disabled;
  }
}
